* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto";
	
}

html, body {
	height: 100%;
	background: #8f8e8e;
}

.content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
}
header{
  position: fixed;
 
    top: 0;
	left: 0;
	width: 100%;
	padding: 25px 20px;
	background: linear-gradient(to top,transparent , rgba(0,0,0,0.6));
	

}
header .logo{
	font-size: 24px;
	font-weight: 700;
	color: rgb(248, 116, 8);
	float: left;
	
}
header .menu{
	display: flex;
	margin-top: 5px;

}
header ul li{
	display: inline-block;
}
header ul li#inner{
background-color: white;
padding: 10px;
border-radius: 20px;

	
}

header ul li a{
	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 255, 255);
	margin: 0 25px;
	font-weight: 500;
	letter-spacing: 2px;
	transition: all .2s ease-in ;
    

}

.logo {
	width: 100px;
}
.containerr {
	margin-top: 15px;
	height: 100%;
	max-height: 600px;
	width: 396px;
	background: #ffffff;
	border: 1px solid #373737;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}
.container {
	margin-top: 15px;
	height: 100%;
	max-height: 350px;
	width: 396px;
	background: #ffffff;
	border: 1px solid #e60909;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}
.extend {
	max-height: 480px;
}

.menu {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 1px solid #373737;
	justify-content: space-between;
}

.menu a {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(140,140,140);
	font-size: 20px;
	font-weight: 500;
}

.menu .selected {
	position: relative;
	color: #00FF5C;
	font-weight: 700;
}

.menu .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #00FF5C;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}
form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	padding: 30px 38px;
	position: relative;
	right: 0;
	transition: right 0.2s;
}
.extend form {
	right: 100%;
}

.inputs {
	width: 100%;
	padding-top: 6px;
}

.input {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	width: 100%;
	font-size: 17px;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 16px 18px 16px 51px;
	color: rgb(220,220,220);
}

.input img {
	width: 16px;
	position: absolute;
	left: 19px;
}

.containerr button {
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}

.container button {
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 12px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}